
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="./styles/base.css">
  </head>
  <body>
    <main>
      <h4>Search by Title or Author</h4>
      <form action="/searches/new" method="post">
        <input type="text" name="search" placeholder="Enter a title or author" required>
        <button type="submit">Search the Google Books API</button>
      </form>
    </main>
  </body>
</html>