
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Collection</title>
    <link rel="stylesheet" href="./styles/base.css">
  </head>
  <body>
    <header>
      <h1>Hello World!</h1>
      <ul>
          <li><a href="./search">Book Search</a></li>
          <li><a href="./library">Library</a></li>
      </ul>
  </header>
    <main>
      <h4>Search by Title or Author</h4>
      <form action="/searches" method="post">
        <input type="text" name="q" placeholder="Enter a title or author" required><br>
        <button type="submit">Search the Google Books API</button>
      </form>
    </main>
  </body>
</html>