
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
  </head>
  <body>
    <main>
      <h4>Search by Title or Author</h4>
      <form action="/searches" method="post">
        <input type="text" name="q" placeholder="Enter a title or author" required>
        <button type="submit">Search the Google Books API</button>
      </form>
    </main>
  </body>
</html>