<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/layout.css">
</head>
<body id="show">
  <main>
    <% searchResults.forEach(book=> { %>
      <section>
        <ul>
          <p><img src=<%= book.image %>></p>
          <h4 class="text"><%= book.title %></h4>
          <p class="text"><%= book.authors %></p>
          <p class="text"><%= book.categories %></p>
        </ul>
      </section>
    <% }) %>
  </main>
</body>
</html>